<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> <!-- need to connect to Thymeleaf in order for this to work -->
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/homestyles.css}"/>
</head>
<body>
    <header class="masthead" style="background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(https://media.npr.org/assets/img/2015/03/31/hilary_hahn_wide-216766e46b6af9e050166045151353fac8c13b36.jpg?s=1400);background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Between the Notes</h1>
                        <span class="tiny-nav">| A CLASSICAL MUSIC BLOG |</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview" th:each="post : ${posts}">
                    <a th:href="'/post/view/' + ${post.postId}">
                        <h2 class="post-title" th:text="${post.title}"></h2>
                        <h3 class="post-subtitle" th:text="${post.headline}"></h3>
                    </a>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>