<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"> <!-- need to connect to Thymeleaf in order for this to work -->
<head th:replace="fragments :: head">
</head>
    <body>
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Between the Notes</h1>
                    <div class="description wow fadeInLeftBig">
                        <p class="tiny-nav">
                            | A CLASSICAL MUSIC BLOG |
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp animated">
                    <div class="r-form-1-top">
                        <div class="r-form-1-top-left">
                            <h3 class="input-info">Sign up</h3>
                        </div>
                    </div>
                    <div class="r-form-1-bottom">
                        <form method="post" th:object="${user}">
                            <div class="form-group">
                                <input type="text" class="r-form-1-first-name form-control" placeholder="Username..." th:field="*{username}"/>
                                <p class="error" th:errors="*{username}"></p>
                            </div>
                            <p class="error" th:text="${usernameError}"></p>
                            <div class="form-group">
                                <input class="r-form-1-first-name form-control" placeholder="Enter password..." type="password" th:field="*{password}"/>
                                <p class="error" th:errors="*{password}"></p>
                            </div>
                            <div class="form-group">
                                <input class="r-form-1-first-name form-control" placeholder="Verify password..." type="password" th:field="*{verify}"/>
                                <p class="error" th:errors="*{verify}"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="r-form-1-first-name form-control" placeholder="Email..." th:field="*{email}"/>
                                <p class="error" th:errors="*{email}"></p>
                            </div>

                            <p class="error" th:text="${verifyError}"></p>

                            <input type="submit" value="Add User"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>